* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;

}

body {
    background-color: #011c40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #011c40;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #54acbf;

}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 800;
}

header p {
    font-size: large;
    color: #a7ebf2;
    padding: 8vw;

}

.nav-bar {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    list-style-type: none;
    gap: 5vw;
}

.nav-item {
    background-color: #26658c;
    color: #a7ebf2;
    font-size: larger;
    font-weight: 600;
    padding: 1vw;
    border-radius: 10%;
}

#article {
    background-color: #26658c;
    background-size: 50%;
    border-radius: 1.5%;
    color: #a7ebf2;
    padding: 2vw;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    width: 80vw;
    height: 50vh;

}

h2 {
    font-weight: 650;
    margin-left: 2vw;

}

.p-article {
    background-color: #011c40;
    padding: 2vh;
    border-radius: 3%;
    margin-right: 8vw;
}

#section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 5vh;
    background-color: #cca2f3;
}

h3 {
    font-size: larger;
    font-weight: 650;
    color: white;
}